.our-services
{
	margin-top: 60px;
}
.fa-bars
{
	font-size: 12px;
	margin-top: 15px!important;
	font-weight: 400;
}
.fa-angle-down,
.fa-home
{
	font-size: 14px;
}

.fa-share-alt,
.fa-instagram,
.fa-facebook-f,
.fa-twitter,
.fa-search
{
	font-size: 16px;
}
.fa-chevron-left,
.fa-chevron-right
{
	font-size: 10px;
}

/*Our client section*/
.our-clients
{
	padding-bottom: 50px;
	padding-top: 30px;
}
.our-clients .d-none.d-md-inline,
.our-clients .fas
{
	color:white!important;
}
.ms-footbar-block .fa-envelope-open
{
	font-size: 13px;
	margin-left: 20px;
}
.ms-footbar-block .fa-envelope
{
	font-size: 14px;
}
.innovation 
{
	margin-left:15px;
}
.type-writer-section
{
	background:url(../img/room.jpg);
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height:130px;
	padding:30px 0px;
	margin:70px 0px;
}
/*About us*/
.about-us-content
{
	margin-top: 100px!important;
	padding:0px!important;
}
.about-us-body
{
	background-color: white;
}
.about-us-body .card-hero {
    position: relative;
    margin-top: -100px;
    box-shadow: none!important;
}
.eee-toggle-left
{
	font-size: 20px!important;
}
.desktop_image {
    position: relative;
}

.desktop_image .carousel-item {
    width: 100%;
    height: auto;
    position: absolute;
    top: -414px;
    overflow: hidden;
    left: 35px
}

.desktop_image .carousel-item img {
    width: 483px !important;
    height: 289px;
    border-radius: 1px;
}

.carousel-control-prev-icon {
    position: absolute;
    top: -265px;
    left: 40px;
}

.carousel-control-next-icon {
    position: absolute;
    top: -265px;
}